/* latin */
@font-face {
  font-family: 'Turbine-Bold';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(~@/assets/fonts/Turbine/Turbine-Bold.woff2) format('woff2');
}

/* latin */
@font-face {
  font-family: 'Turbine-Medium';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(~@/assets/fonts/Turbine/Turbine-Medium.woff2) format('woff2');
}
